* {
box-sizing: border-box;
}
.container {
overflow: hidden;
width : 90%;
}
.container1 {
width: 70%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
div.myDiv {
border: 1px outset black;
background-color: rgba(52, 58, 64);
text-align: left;
width : 70%;
margin: auto;
margin-top: 2em;
margin-bottom: 1em;
box-shadow: rgba(0, 0, 0) 0px 25px 50px;
}
.name{
color: white;
}
.line{
border-top: 1px dashed white;
}
#row_color
{
background-color: rgba(47, 142, 245);
}
#normal_row{
background-color : rgba(146, 156, 143);
}
td {
border-right: solid 2px rgba(52, 58, 64);
border-left: solid 2px rgba(52, 58, 64);
}
#shadow_table{
box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px;
}
h4 {
font-size: 1.1em;
}
.tab {
  overflow: hidden;
  align: center;
}
.tab button {
color: white;
font-family: sans-serif;
font-weight: 400;
border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 2% 10%;
  transition: 0.3s;
  font-size: 17px;
  background-color: #007bff;
    width: 90%;
    height: 90%;
  table-layout: fixed;
  border-collapse: collapse;
    }

.tab button:hover {
  background-color: rgba(0, 105, 217, 1);
}
.tab button.active {
  background-color: rgba(0, 105, 217, 1);
  box-shadow: 0px 5px 5px 0px white;
  //box-shadow: rgba(0, 0, 0) 0px 25px 50px;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  color: white;
  border-top: none;
}