* {
box-sizing: border-box;
}
.container {
overflow: hidden;
width : 95%;
}
.container1 {
width: 70%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
div.myDiv {
border: 1px outset black;
background-color: rgba(52, 58, 64);
text-align: left;
width : 70%;
margin: auto;
margin-top: 1em;
margin-bottom: 1em;
box-shadow: rgba(0, 0, 0) 0px 25px 50px;
}
.column_simple {
float: left;
width: 50%;
height : auto;
padding: 10px;
text-align: left;
margin: auto;
padding-bottom: 100%;
margin-bottom: -100%;
}
h4 {
font-size: 1.1em;
color: white;
}
.line{
border-top: 1px dashed white;
}
.line_solid{
border-top: 5px solid red;
}
td {
border-right: solid 2px rgba(52, 58, 64);
border-left: solid 2px rgba(52, 58, 64);
}
#shadow_table{
box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px;
}
.table_width_control {
width: 100%;
height: auto;
overflow-x: scroll;
scrollbar-width: thin;
}
.name_message{
color: black;
}
thead,
tfoot {
background-color: #343a40;
color: #fff;
}