<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="description" content="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">-->
    <meta name="theme-color" content="#563d7c">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    {% block head %}
    {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static '/static_files/css/base.css' %}"/>

{% block style %}
{% endblock %}

    <!-- Custom styles for this template -->

</head>
<body>


{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <br>
                <span class="fs-5 d-none d-sm-inline">Menu...</span>
                <br>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <br>
                        <a href="{% url 'page:homepage' %}">
                            <i class="fa fa-home" style="font-size:26px;"></i>
                            <span class="fs-5 d-none d-sm-inline">Homepage</span>
                        </a>
                    </li>
                    <li>
                        <hr class="style-two">
                        <a href="{% url 'page:attendance_data' %}">
                            <i class="fa fa-calendar" style="font-size:22px"></i>
                            <span class="fs-5 d-none d-sm-inline">Attendance</span>
                        </a>
                    <li>
                        <hr class="style-two">
                        <a href="{% url 'page:view_timetable' %}">
                            <i class="fa fa-th-list" style="font-size:21px"></i>
                            <span class="fs-5 d-none d-sm-inline">TimeTable</span>
                        </a>
                    </li>
                    <li>
                        <hr class="style-two">
                        <a href="{% url 'page:analyse_attendance' %}">
                            <i class="fa fa-bar-chart" style="font-size:21px"></i>
                            <span class="fs-5 d-none d-sm-inline">Analyse</span>
                        </a>
                    </li>
                    <li>
                        <br><br><br>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out" style="font-size:24px"></i>
                            <span class="fs-5 d-none d-sm-inline">Sign_Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="col py-3">

            <!-- Main content here-->
            <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <!--<div class="collapse navbar-collapse" id="topnav">-->
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <div class="text-center">
                                <a class="nav-link" href="{% url 'page:what_is_rfid' %}">WHAT IS RFID</a>
                                    </div>
                            </li>
                            <li class="nav-item active">
                                <div class="text-center">
                                <a class="nav-link" href="{% url 'page:how_it_works' %}">HOW IT WORKS</a>
                                    </div>
                            </li>
                            <li class="nav-item active">
                                <div class="text-center">
                                <a class="nav-link" href="{% url 'page:why_rfid' %}">WHY RFID</a>
                                    </div>
                            </li>
                    </ul>
                </div>
            </nav>

            {% if user.is_authenticated %}

            <div class="wrapper">
                <br>
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% block script %}
{% endblock %}
{% else %}
<br><br>
<div class="container">
    <div class="column">
        <div class="row">
            <div class="col">
                <h1>You are not logged in.</h1>
                <hr>
                <h2>Click <a href="{% url 'login' %}">here</a> to log in again</h2>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>
{% endif %}
</body>
</html>