{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/static_files/css/count.css' %}"/>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<div class="myDiv">
    <div class="container">
        <br>
        <form method="get">
            <div class="row">
                <div class="col">
                    <h4 class="name">PLACE</h4>
                    <select class="form-select" aria-label="Default select example" name="AREA">
                        <option disabled="disabled" selected="selected">--Choose Place</option>
                        <option> Computer Lab 1-a</option>
                        <option> Computer Lab 1-b</option>
                        <option> Computer Lab 2-a</option>
                        <option> Computer Lab 2-b</option>
                        <option> Computer Lab 3-a</option>
                        <option> Computer Lab 3-b</option>
                        <option> Computer Lab 4</option>
                        <option> Electronics lab</option>
                        <option> Sports Room</option>
                        <option> Library</option>
                    </select>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <h4 class="name">SELECT TIME</h4>
                <label class="name">START TIME</label>
                <div class="col">
                    <input type="number" name="START_TIME" class="form-control" placeholder="Hours"
                           aria-label="Tag id" autocomplete="off">
                </div>
                <div class="col">
                    <input type="number" name="START_MINUTE" class="form-control" placeholder="Minutes"
                           aria-label="Tag id" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <label class="name">END TIME</label>
                <div class="col">
                    <input type="number" name="LAST_TIME" class="form-control" placeholder="Hours"
                           aria-label="Tag id" autocomplete="off">
                </div>
                <div class="col">
                    <input type="number" name="END_MINUTE" class="form-control" placeholder="Minutes"
                           aria-label="Tag id" autocomplete="off">
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col">
                    <h4 class="name">Any specific date</h4>
                    <select class="form-select" aria-label="Default select example" name="DATE">
                        <option disabled="disabled" selected="selected">--Today's date is default</option>
                        {% for x in date %}
                        <option> {{x}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

<div class="container">
    <hr class="line">
    <div class="column_simple">
        {% if person_list or teacher_list %}
        {% if message %}
        <div class="col">
            <h4 class="name_message"><b>{{ message }}</b></h4>
        </div>
        {% endif %}
        {% endif %}
        {% if user_date %}
        {% if not person_list and not teacher_list %}
        <div class="col">
            <h4 class="name_message"><b>No records for {{user_date}}</b></h4>
        </div>
        {% else %}
        <div class="col">
            <h4 class="name_message"><b>Records for {{user_date}}</b></h4>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="column_simple">
        {% if person_list or teacher_list%}
        <a href="{% url 'page:excel-time_wise_excel' %}?area={{area}}&s_t={{start_time}}&s_m={{start_minute}}&e_t={{end_time}}&e_m={{end_minute}}&date={{user_date}}">
            <button type="submit" class="btn btn-danger">Get Excel</button>
        </a>
        <a href="{% url 'page:time_wise_pdf' %}?area={{area}}&s_t={{start_time}}&s_m={{start_minute}}&e_t={{end_time}}&e_m={{end_minute}}&date={{user_date}}">
            <button type="submit" class="btn btn-danger">Get Pdf</button>
        </a>
        {% endif %}
    </div>
</div>


<div class="container">
    {% if distinct_count %}
    <hr class="line">
    {% endif %}
    <div class="column_simple">
        {% if distinct_count %}
        <div class="alert alert-danger">
            <div class="text-center">
                <h4 class="name_message">Distinct Count : {{ distinct_count }}</h4>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="column_simple">
        {% if total_count %}
        <div class="alert alert-danger">
            <div class="text-center">
                <h4 class="name_message">Total Count : {{ total_count }}</h4>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% if person_list %}
<hr class="line_solid">
<br>
<div class="container">
    <div class="table_width_control" id="shadow_table">
        <table class="table" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="row">SR. NO</th>
                <th scope="row">TAG ID</th>
                <th scope="row">NAMES</th>
                <th scope="row">COURSE</th>
                <th scope="row">ROLL NUMBER</th>
                <th scope="row">DIVISION</th>
                <th scope="row">IN-TIME</th>
                <th scope="row">OUT-TIME</th>
            </tr>
            </thead>

            {% for srno,tag_id,name,course,roll,div,in_time,out_time in person_list %}
            <tbody>
            <tr class="normal_row">
                <td scope="row"><b>{{srno}}</b></td>
                <td scope="row"><b>{{tag_id}}</b></td>
                <td scope="row"><b>{{name}}</b></td>
                <td scope="row"><b>{{course}}</b></td>
                <td scope="row"><b>{{roll}}</b></td>
                <td scope="row"><b>{{div}}</b></td>
                <td scope="row"><b>{{in_time}}</b></td>
                <td scope="row"><b>{{out_time}}</b></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}


{% if teacher_list %}
<hr class="line_solid">
<br>
<div class="container">
    <div class="table_width_control" id="shadow_table">
        <table class="table" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="row">SR. NO</th>
                <th scope="row">TAG ID</th>
                <th scope="row">NAMES</th>
                <th scope="row">COURSE</th>
                <th scope="row">PRACTICAL SUBJECT</th>
                <th scope="row">IN_TIME</th>
                <th scope="row">OUT_TIME</th>
            </tr>
            </thead>

            {% for srno, tag, name, course, practical_subject,in_time,out_time in teacher_list %}
            <tbody>
            <tr class="normal_row">
                <td scope="row"><b>{{srno}}</b></td>
                <td scope="row"><b>{{tag}}</b></td>
                <td scope="row"><b>{{name}}</b></td>
                <td scope="row"><b>{{course}}</b></td>
                <td scope="row"><b>{{practical_subject}}</b></td>
                <td scope="row"><b>{{in_time}}</b></td>
                <td scope="row"><b>{{out_time}}</b></td>
            </tr>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>


<br><br>

{% else %}

<div>
    <h2>You are not currently logged in, to login click <a href="{% url 'login' %}">here</a></h2>
</div>
{% endif %}
{% endblock %}
