<html>
    <head>
        <link rel="stylesheet" href="nav.css">
    </head>
    <body>
        <nav>
            <ul>
                <li id="active" class="one">Details</li>
                <li class="two">Chat</li>
                <li class="three">Attendance</li>
                <li class="four">Assignments</li>
            </ul>
        </nav>
        <div id="main">
        <div id="one">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis necessitatibus tenetur corporis inventore itaque atque cupiditate iste ratione reprehenderit a eveniet, quod ullam hic modi nulla error animi sit nobis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus iusto accusantium odit, rem molestiae, corporis asperiores, assumenda cumque tempora minus fuga pariatur delectus maxime distinctio saepe nihil obcaecati tempore quisquam?
                Modi earum neque esse ullam molestias laudantium impedit explicabo dolores maxime quo? Voluptatem exercitationem, asperiores voluptate rerum sequi iure dolorum dignissimos provident, quo minus facere ad odio, libero suscipit nulla!
                Quidem quasi cupiditate odio quos sapiente animi aperiam amet illum, dignissimos quo perferendis incidunt, eaque eveniet praesentium magnam quod quaerat impedit inventore! Ducimus necessitatibus ipsum doloremque, ab error tempore? Minus.
                Quam consectetur quisquam, voluptatem mollitia exercitationem non unde neque quasi ullam animi reiciendis asperiores obcaecati, tempore natus inventore necessitatibus sequi aperiam alias quis incidunt magni, perspiciatis temporibus perferendis. Fugiat, vel.
                Culpa vel nihil at possimus distinctio quos molestias deserunt sequi ullam eius omnis, rem odit reprehenderit a sunt, aliquid necessitatibus ab ut autem pariatur labore, similique inventore facere ex. Molestias.
            </p>
        </div>
        <div id="two">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae optio voluptate vel neque? Nesciunt perspiciatis voluptatibus maxime animi. Quasi ex dicta nihil veritatis sint unde eligendi praesentium ab repudiandae rem!
        </div>
        </div>
        <script src="nav.js"></script>
    </body>
</html>