<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

    </style>
</head>
<body>
<font size="+2"><b>Showing Timetable Count for : {{user_date}}</b></font><br>
<font size="+2"><b>Day : {{day}}</b></font><br>
<font size="+2"><b>Course : {{course}}</b></font><br>
<font size="+2"><b>Year : {{year}}</b></font>
<br>

{% if table %}
<table>
    <tr>
        {% for head in table_head %}
    <th bgcolor="grey">{{head}}</th>
        {% endfor %}
  </tr>
    {% for row in table %}
    <tr>
    {% for val in row %}
    <td>{{val}}</td>
    {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endif %}

</body>
</html>