{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/static_files/css/timetable.css' %}"/>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<div class="myDiv">
    <form method="get">
        <div class="container1">
            <br><br>
            <div class="row">
                <div class="col">
                    <h4 class="name">Select Course</h4>
                    <select id="sel1" class="form-select" aria-label="Default select example" name="course"
                            onchange="depend(this.id,'sel2')">
                        <option disabled="disabled" selected="selected">--Choose Your Course</option>
                        {% for course, id in year_id.items %}
                        <option id="{{id | safe}}">{{course}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <h4 class="name">Select Year</h4>
                    <select id="sel2" class="form-select" aria-label="Default select example" name="year">
                        <option disabled="disabled" selected="selected">--Choose Your Course</option>
                    </select>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col">
                    <h4 class="name">Any specific date</h4>
                    <select class="form-select" aria-label="Default select example" name="DATE">
                        <option disabled="disabled" selected="selected">--Today's date is default</option>
                        {% for x in date %}
                        <option> {{x}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <hr class="line">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </form>
</div>

<div class="container">
    <br>
    <hr class="line">
</div>
<div class="container">
    <div>
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <h4><b>{{ message }}</b></h4>
        </div>
        {% endfor %}
        <hr class="line">
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="column_simple">
        <div id="lg1" class="alert-alert-danger" role="alert">
            {% if course %}
            <h4>COURSE : <b>{{course}}</b></h4>
            {% endif %}
            {% if year %}
            <h4>YEAR : <b>{{year}}</b></h4>
            {% endif %}
            {% if day %}
            <h4>DAY : <b>{{day}}</b></h4>
            {% endif %}
        </div>
    </div>

    <div class="column_simple">
        {% if table %}
        <a href="{% url 'page:timetable_excel' %}?course={{course}}&date={{user_date}}&year={{year}}">
            <button type="submit" class="btn btn-danger">Get Excel</button>
        </a>
        <a href="{% url 'page:timetable_pdf' %}?course={{course}}&date={{user_date}}&year={{year}}">
            <button type="submit" class="btn btn-danger">Get Pdf</button>
        </a>
        {% endif %}
    </div>
</div>

<br>

{% if table %}
<div class="container">
    {%for table_by_id in table%}
    <div class="table_width_control" id="shadow_table">
        {{table_by_id | safe}}
    </div>
    <hr class="line">
    {% endfor %}
</div>
{% endif %}

{% endif %}

{% block script %}
<script type="text/javascript" src="{% static '/static_files/js/save_attendance.js' %}"></script>
{% endblock %}


{% endblock %}