<div class="collapse navbar-collapse" id="topnav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'page:what_is_rfid' %}">WHAT IS RFID</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'page:how_it_works' %}">HOW IT WORKS</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'page:why_rfid' %}">WHY RFID</a>
                        </li>

                        <li>

                            <div id="fname">
                                <a href="{% url 'page:homepage' %}">
                                    <button class="hp" name="home" type="submit" id="button"
                                            onclick="setColor('button', '#36454f')"><i class="fa fa-home &nbsp">
                                        HOMEPAGE</i>
                                    </button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>