<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trace pdf</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

{% if origin == 'student' %}
<font size="+2"><b>Showing trace data for : {{date}}</b></font>
<br><br><br>
<font size="+2"><b>Tag Id : {{person_data.0}}</b></font><br>
<font size="+2"><b>Division : {{person_data.1}}</b></font><br>
<font size="+2"><b>Roll Number : {{person_data.2}}</b></font><br>
<font size="+2"><b>Name : {{person_data.3}}</b></font><br>
<font size="+2"><b>Course : {{person_data.4}}</b></font><br>
<font size="+2"><b>Academic Year : {{person_data.5}}</b></font><br>
<br><br><br>
<font size="+2"><b>Trace Table-</b></font>
<br><br>
{% endif %}

{% if origin == 'teacher' %}
<font size="+2"><b>Showing trace data for : {{date}}</b></font>
<br><br><br>
<font size="+2"><b>Tag Id : {{person_data.0}}</b></font><br>
<font size="+2"><b>Practical Subject : {{person_data.1}}</b></font><br>
<font size="+2"><b>Name : {{person_data.2}}</b></font><br>
<font size="+2"><b>Course : {{person_data.3}}</b></font><br>
<br><br><br>
<font size="+2"><b>Trace Table-</b></font>
<br><br>
{% endif %}

<table>
  <tr>
    <th bgcolor="grey">Sr No</th>
      <th bgcolor="grey">Place</th>
      <th bgcolor="grey">Time</th>
      <th bgcolor="grey">Status</th>
  </tr>
    {% for line in table_data %}
  <tr>
      {% for block in line %}
    <th>{{ block }}</th>
{% endfor %}
  </tr>
{% endfor %}
</table>

</body>
</html>