{% extends 'base.html' %}

{% block style %}
* {
box-sizing: border-box;
}
.container {
overflow: hidden;
max-width : 95%;
}
.column_simple {
float: left;
width: 95%;
height : auto;
padding: 10px;
text-align: left;
margin: auto;
padding-bottom: 100%;
margin-bottom: -100%;
}
h4 {
font-size: 1.1em;
color: black;
}
.line{
border-top: 1px dashed white;
}
.normal_row{
background-color : rgba(146, 156, 143);
}
td {
border-right: solid 2px rgba(52, 58, 64);
border-left: solid 2px rgba(52, 58, 64);
}
.table_width_control{
width: 100%;
height: auto;
overflow-x: scroll;
scrollbar-width: thin;
}
#shadow_table{
box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px;
}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    {% if messages %}
    <br>
    <div class="alert-alert-danger" role="alert">
        <b>{% for message in messages %}</b>
        <b>{{ message }}</b>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container">
    <div class="column_simple">

        {% for course,data in course.items %}

        <hr class="line">

        <div class="col">
            <div class="alert alert-danger" role="alert">
                <h4><b>{{data.0.0}}</b></h4>
            </div>
        </div>

        <div class="table_width_control" id="shadow_table">
            <table class="table" align="center">
                <thead class="thead-dark">
                <tr>
                    {% for x in head %}
                    <th scope="row"><b>{{x}}</b></th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for y in data %}
                <tr class="normal_row">

                    {% for m in y %}
                    <td scope="row"><b>{{m}}</b></td>
                    {% endfor %}
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <br>

        {% endfor %}

    </div>

    {% else %}
    <div>
        <h2>You are not currently logged in, to login click <a href="{% url 'login' %}">here</a></h2>
    </div>
    <br><br><br>
    {% endif %}
    {% endblock %}