<!doctype html>
<html lang="en">
<head>
    <title>Pdf rfid</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



    </style>
</head>

<body>
<br><br>

{% if courses %}
<div>
    <h4>RECORDS FROM : {{today}} - {{last_date}}</h4>
</div>

{% for course,data in courses.items %}

<div class="alert-alert-danger" role="alert">
    <h4>COURSE : {{course}}</h4>
</div>


<table class="table" align="center">
    <thead class="thead-dark">
    <tr>
        <th scope="col" bgcolor="blue">{{course}}</th>
    </tr>
    </thead>

    {% for batches,records in data.items %}
    <tbody>
    <tr>
        <th scope="row"><b>{{batches}}</b></th>
        {% for head in table_head %}
        <th scope="row"><b>{{head}}</b></th>
        {% endfor %}
    </tr>
    </tbody>

    <tbody>
    {% for std in records %}
    {% if not std %}
    <tr class="normal_row">
        <td scope="row"><b>No Recrods</b></td>
    </tr>
    {% else %}

    <tr>
        {% for data in std %}
        <th scope="row"><b></b></th>
        {% for m in data %}
        <th scope="row"><b>{{m}}</b></th>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    {% endfor %}
    </tbody>


    {% endfor %}
</table>
<br>
{% endfor %}
{% endif %}
</body>
</html>
