<!doctype html>
<html lang="en">
<head>
    <title>Pdf rfid</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}
td {
text-align: center;
border-right: solid 2px rgba(52, 58, 64);
border-left: solid 1px rgba(52, 58, 64);
}


    </style>
</head>

<body>
<br><br>
<div class="container">
    <div class="column_simple">
        {% if courses %}
        <div class="alert alert-danger" role="alert">
            <h4 class="name_message"><b>RECORDS FROM : {{today}} - {{last_date}}</b></h4>
        </div>
        {% endif %}
    </div>
</div>
<br>


{% if courses %}
<div class="container">
    {% for course,data in courses.items %}
    <hr class="line_solid">
    <div class="alert alert-danger" role="alert">
        <h4 class="name_message"><b>COURSE : {{course}}</b></h4>
    </div>
    <br>
        {{ data | safe}}
    <br>
    {% endfor %}
</div>
{% elif not today %}
<div class="container">
    <h4 class="name_message">No Records</h4>
</div>
{% endif %}
</body>
</html>
