{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/static_files/css/weekly.css' %}"/>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="myDiv">
    <form method="get">
        <div class="container">
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">Start date</h4>
                    <select class="form-select" aria-label="Default select example" name="START_DATE">
                        <option disabled="disabled" selected="selected">--Today's date is default</option>
                        {% for x in date %}
                        <option> {{x}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <h4 class="name">End date</h4>
                    <select class="form-select" aria-label="Default select example" name="END_DATE">
                        <option disabled="disabled" selected="selected">--Today's date is default</option>
                        {% for x in date %}
                        <option> {{x}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </form>

</div>
<br>
<hr class="line">

<div>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <h4 class="name_message"><b>{{ message }}</b></h4>
    </div>
    {% endfor %}
    <hr class="line">
    {% endif %}

</div>


<div class="container">
    <div class="column_simple">
        {% if courses %}
        <div class="alert alert-danger" role="alert">
            <h4 class="name_message"><b>RECORDS FROM : {{today}} - {{last_date}}</b></h4>
        </div>
        {% endif %}
    </div>
    <div class="column_simple">
        {% if courses %}
        <a href="{% url 'page:attendance_excel_pdf' %}1/?date={{today}}&end_date={{last_date}}">
            <button type="submit" class="btn btn-danger">Get Excel</button>
        </a>
        <a href="{% url 'page:attendance_excel_pdf' %}2/?date={{today}}&end_date={{last_date}}">
            <button type="submit" class="btn btn-danger">Get Pdf</button>
        </a>
        {% endif %}
    </div>
</div>
<br>


{% if courses %}
<div class="container">
    {% for course,data in courses.items %}
    <hr class="line_solid">
    <div class="alert alert-danger" role="alert">
        <h4 class="name_message"><b>COURSE : {{course}}</b></h4>
    </div>
    <br>

    <div class="table_width_control" id="shadow_table">
        {{ data | safe}}
    </div>
    <br>
    {% endfor %}
</div>
{% elif not today %}
<div class="container">
    <h4 class="name_message">No Records</h4>
</div>
{% endif %}


{% else %}
<div>
    <h2>You are not currently logged in, to login click <a href="{% url 'login' %}">here</a></h2>
</div>
{% endif %}
<br><br><br>

{% endblock %}