{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h1 class="t1">WHAT IS RFID</h1>
<p class="t">
Radio Frequency Identification (RFID) refers to a wireless system comprised of
two components: Tags and Readers.</p>
<p class="t">The Reader is a device that has one or more antennas that emit Radio waves and
receive signals back from the RFID Tag.</p>
<p class="t">Tags, which use Radio waves to communicate their identity and other
information to nearby Readers, can be passive or active.</p>
<p class="t">Passive RFID Tags are powered by the Reader and do not have a battery.</p>
<p class="t">Active RFID Tags are powered by batteries.</p>
<p class="t">Radio Frequency Identification is used in conjunction with a microchip,
a powered antenna, and a scanner.</p>
<p class="t">Radio Frequency Identification works through a small electronic device,
usually a microchip, that has information stored on it.

</p>
{% endblock %}
