{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static '/static_files/css/what_is_rfid.css' %}"/>
{% endblock %}


{% block content %}
<br>
<h1 class="text-center">WHAT IS RFID</h1>
<div class="myDiv">
    <div class="container">
        <br>
        <p>
            Radio Frequency Identification (RFID) refers to a wireless system comprised of
            two components: Tags and Readers.</p>
        <hr class="line">
        <p>The Reader is a device that has one or more antennas that emit Radio waves and
            receive signals back from the RFID Tag.</p>
        <hr class="line">
        <div class="text-center">
            <div class="footer">
                <img src="{% static 'page/images/RFID_reader.jpg' %}" style="width:40%">
            </div>
        </div>
        <hr class="line">
        <p>Tags, which use Radio waves to communicate their identity and other
            information to nearby Readers, can be passive or active.</p>
        <p>Passive RFID Tags are powered by the Reader and do not have a battery.</p>
        <p>Active RFID Tags are powered by batteries.</p>
        <hr class="line">
        <div class="row">
            <div class="col">
                <label class="c_color">Passive Tag</label>
                <div class="footer">
                    <img src="{% static 'page/images/RFID_tag.jpg' %}" style="width:70%">
                </div>
            </div>
            <div class="col">
                <label class="c_color">Active Tag</label>
                <div class="footer">
                    <img src="{% static 'page/images/active_tag.jpg' %}" style="width:70%">
                </div>
            </div>
        </div>
        <hr class="line">
        <p>Radio Frequency Identification is used in conjunction with a microchip,
            a powered antenna, and a scanner.</p>
        <p>The Reader continuously emits signal into its environment, when an reader comes in its
            reading range the unique identity number is read and identified by the reader.
        </p>
        <hr class="line">
    </div>
</div>

{% endblock %}
