{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h1 class="t1">WHY RFID</h1>
<p  class="t">
1)The most notable is that RFID Tag data can be read outside the line-of-sight,
    whereas barcodes must be aligned with an optical scanner.</p>
<p  class="t">2)The Tag Reader is responsible for powering and communicating with a Tag.</p>
<p  class="t">3)The encapsulation maintains the Tag's integrity
and protects the antenna and chip from environmental conditions.</p>
<p  class="t">---The encapsulation could be a small glass vial or a laminar
plastic substrate with adhesive on one side.</p>
<p  class="t">4)Two fundamentally different RFID design approaches exist for transferring
power from the Reader to the Tag: magnetic induction and electromagnetic (EM)
wave capture.</p>
<p  class="t">---These two designs take advantage of the EM properties associated
with an RF antenna—the-near field-and the-far field (The near field and far field are regions of the electromagnetic field (EM)).</p>
<p  class="t">---Both can transfer enough power to a remote Tag to sustain its operation—typically between 10 μW and 1 mW,
depending on the Tag type. (For comparison, the nominal power an Intel XScale
processor consumes is approximately 500 mW, and an Intel Pentium 4 consumes up
to 50 W.)</p>
{% endblock %}

